<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Andrew Kirkman - Final</title>
    </head>
    <body>
        <h1>Sentiment Analysis by Andrew Kirkman</h1>
        <form action = '/' method = 'POST'>
            <label for="brand">Brand Name</label>
            <input type="text" id="brand" name="brand" class = "fixed-width" required>
            <input class="submit" type="submit" value="Submit">
        </form>

        <p>The Result of the brand <%=brandName%> according to twitter is <%=sentimentResult%>!</p>
        <ul>
            <%if(typeof tweets !== 'undefined'){%>
            10 Most recent tweets on this Brand:
                <%tweets.forEach((tweet) => {%>
                    <li><%= tweet%></li>
                <%}); %>
            <%}%>
        </ul>        
    </body>
</html>